#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*for elements that will be left-aligned*/
.text-left-align {
  text-align: left;
  padding: 24px;
}

/*Style for the header in the main app*/
.App-header {
  background-color: #333;
  padding: 1rem;
}

/*Style for the main body of the main app*/
.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* original was 10 + 2vmin*/
  color: white;
}

/*Style for the footer of the main app*/
.App-footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}

/*some alignment styles*/
.left_align {
  float: left;
}
.right_align{
  float: right;
}