/*Style for the main app*/
.App {
  text-align: center;
}

/*Style for the header in the main app*/
.App-header {
  background-color: #333;
  padding: 1rem;
}

/*Style for the main body of the main app*/
.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Style for the footer of the main app*/
.App-footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}

/*Style for links in the app*/
.App-link {
  color: #61dafb;
}

/*Style for the navigation bar's unordered list elements*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Style for the navigation bar's list item elements*/
nav li {
  display: inline;
  margin-right: 10px;
}

/*Style for the navigation bar's link elements*/
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

