
@font-face {
  font-family: 'Shadows Into Light Two';
  src: url('../public/fonts/ShadowsIntoLightTwo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Annie Use Your Telescope';
  src: url('../public/fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*Style for the main app*/
.App {
  text-align: center;
  font-family: 'Shadows Into Light Two', 'Segoe UI', 'Arial';
  letter-spacing: 3px;
}

/*for elements that will be left-aligned*/
.text-left-align {
  text-align: left;
  padding: 25px;
}

/*Style for the header in the main app*/
.App-header {
  background-color: #333;
  padding: 1rem;
}

/*Style for the main body of the main app*/
.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 2vmin); /* original was 10 + 2vmin*/
  color: white;
}

/*Style for the footer of the main app*/
.App-footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}

/*Style for links in the app*/
.App-link {
  color: #61dafb;
}

/*some alignment styles*/
.left_align {
  float: left;
}
.right_align{
  float: right;
}